# Dependencies
node_modules/
vendor/

# Build outputs
*.log
.DS_Store

# iOS
ios/DerivedData/
ios/build/
ios/Pods/
ios/.xcode.env.local

# Android
android/build/
android/app/build/
android/app/debug.keystore
android/app/release.keystore

